@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url(reset.css);

:root {
    --amarelo-base: #FFF4CC;
    --amarelo-contraste: #FFF1B8;
    --amarelo-apoio: #F6EECF;
    --lilas-base: #9C8CB9;
    --lilas-contraste: #A497C2;
    --lilas-apoio: #8F84B3;
    --branco-quente: #FFFEF8;
    --cinza-texto: #3E3E3E;
    --cinza-texto-dois: #6B6B6B;
    --fonte-principal: Montserrat, sans-serif;
    --fonte-secundaria: Cormorant, serif;
}

body {
    background-color: var(--branco-quente);
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1440px; 
    width: 100%;       
}
header nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--branco-quente);
    position: fixed;
    font-family: var(--fonte-principal);
    color: var(--cinza-texto);
    padding: 2.188rem;
    font-size: 1.25rem;
    font-weight: 800;
    border-radius: 20px;
    gap: 3.75rem;
    align-items: center;
    z-index: 99;

    a {
        text-decoration: none;
        color: var(--cinza-texto);
    }

}

section {
    position: relative;
}

.hero {
    display: flex;
    flex-direction: column;
    min-height: 1000px;
    overflow: hidden;
    font-family: var(--fonte-principal);
    justify-content: center;
    align-items: start;
    gap: 3.75rem;
    padding-left: 5rem;

    h1 {
        font-size: 6.25rem;
        font-weight: 800;
        color: var(--cinza-texto);
        width: 34rem;
    }

    .texto-hero {
        font-size: 2.063rem;
        width: 26rem;
        color: var(--cinza-texto);
    }

    button {
        background-color: var(--amarelo-contraste);
        border: var(--cinza-texto) solid 1px;
        padding: 20px;
        border-radius: 20px;
        font-size: 1.875rem;
        font-weight: 600;
        color: var(--cinza-texto);
    }

    .bg-hero {
        align-self: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: fill;
    }
}

.sobre {
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-secundaria);
    justify-content: center;
    align-items: end;
    padding: 420px 150px 0 0;


    h2 {
        color: var(--lilas-apoio);
        font-size: 3rem;
        font-weight: 600;
    }

    p {
        font-size: 1.5rem;
        color: var(--cinza-texto);
        text-align: center;
        width: 36.5rem;
    }

    .sobre-container {
        display: flex;
        flex-direction: column;
        background-color: var(--branco-quente);
        border: var(--cinza-texto) solid 1px;
        border-radius: 20px;
        gap: 1.5rem;
        align-items: center;
        padding: 36px;

    }

    .bg-sobre {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
    }

}

.atendimentos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--fonte-principal);
    gap: 20px;

    h2 {
        font-size: 3.125rem;
        font-weight: 600;
        color: var(--lilas-base);
    }

    h3 {
        font-size: 3.125rem;
        font-weight: 100;
        color: var(--cinza-texto);
    }

    .atendimento-container-box {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        border-radius: 20px;
        border: var(--cinza-texto-dois) solid 1px;
        width: 620px;
        height: 140px;
        background-color: var(--branco-quente);
    }

    .atendimento-conteudo {
        display: flex;
        flex-direction: column;
        gap: 20px;

        p:first-child {
            font-size: 1.25rem;
            font-weight: 600;
            color: var(--cinza-texto);

            p {
                font-size: 1.063rem;
                font-weight: 500;
            }
        }
    }

    .atendimento-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-left: 115px;
        padding-top: 220px;
    }

    .bg-atendimentos {
        margin-top: 160px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
    }
}

/* Formulario */
.form-wrapper {
    display: flex;
    justify-content: center;
    padding: 60px 0;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--amarelo-base);
    width: 100%;
    /* Mudar o tamanho do formulario */
    max-width: 900px;
    border-radius: 20px;
    margin-top: 160px;
    padding: 60px;
    gap: 40px;
    font-family: var(--fonte-principal);

    align-items: center;

    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);


    .form-header {
        width: 100%;
    }

    .form-header h2 {
        font-size: 3.125rem;
        font-weight: 600;
        color: var(--lilas-base);
        margin-bottom: 20px;
    }

    .form-header h3 {
        font-family: var(--fonte-secundaria);
        font-size: 1.5rem;
        font-weight: 500;
        color: var(--cinza-texto);
        width: 75%;
    }

    .form-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .form-section h2 {
        font-size: 1.25rem;
        font-weight: 700;
        color: var(--cinza-texto);
    }

    .form-section label {
        font-size: 1rem;
        font-weight: 600;
        color: var(--cinza-texto);
        margin-bottom: 10px;
    }

    #input-email {
        width: 100%;
    }

    .form-row {
        display: flex;
        gap: 20px;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    .input-erro {
    border: 2px solid red;
    }

    .radio-erro {
        border: 2px solid red;
        border-radius: 8px;
        padding: 5px;
    }
    
    input, select {
        background-color: var(--branco-quente);
        border: 1px solid var(--cinza-texto-dois);
        border-radius: 12px;
        padding: 15px;
        font-size: 1rem;
    }

    .radio-group {
        display: flex;
        gap: 20px;
        margin-top: 5px;
    }

    .form-btn {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    button {
        background-color: var(--lilas-base);
        border: 1px solid var(--cinza-texto-dois);
        padding: 20px;
        border-radius: 20px;
        font-size: 1.875rem;
        font-weight: 600;
        color: var(--branco-quente);
        width: 360px;
        transition: all 0.2s ease;
        box-shadow: 0 5px 0 rgba(0, 0, 0, 0.2);
    }

    button:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

}

/* Perguntas Frequentes */
.faq-wrapper {
    display: flex;
    justify-content: center;
    padding: 80px 20px;
}

.faq {
    width: 100%;
    max-width: 900px;
    background-color: var(--lilas-base);
    border-radius: 30px;
    padding: 40px;
    box-shadow: 20px 20px 0 rgba(0,0,0,0.1);
}

.faq h2 {
    font-family: var(--fonte-principal);
    color: var(--cinza-texto);
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
}

/* ITEM */
.faq-item {
    background: var(--branco-quente);
    border-radius: 15px;
    margin-bottom: 15px;
    overflow: hidden;
}
.faq-item span {
    font-size: 1.2rem;
    font-weight: 400;
}

.faq-question {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: none;
    background: none;
    cursor: pointer;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--lilas-base);
}

.icon img {
    width: 30px;
    height: 10px;
}


.faq-answer {
    display: none;
    padding: 20px;
    font-size: 1.2rem;
}

.faq-item.active .faq-answer {
    display: block;
}

/* Roda o pé */
.footer {
    display: flex;
    justify-content: center;
    background-color: var(--amarelo-apoio);
    padding: 60px 20px;
}

.footer-container {
    width: 100%;
    max-width: 1000px;
    text-align: center;
    font-family: var(--fonte-principal);
}

.footer-header h2 {
    font-size: 2rem;
    font-weight: 800;
    color: var(--cinza-texto);
}

.footer-header p {
    font-size: 1rem;
    color: var(--cinza-texto-dois);
    margin-top: 15px;
}

.footer hr {
    margin: 30px 0;
    border: none;
    height: 2px;
    background-color: var(--cinza-texto-dois);
}

.footer-nav {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 30px;
}

.footer-nav a {
    text-decoration: none;
    color: var(--cinza-texto);
    font-size: 0.9rem;
}

.footer-social {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.footer-social a {
    background-color: var(--amarelo-contraste);
    padding: 15px;
    border-radius: 10px;
}

.footer-social img {
    width: 40px;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 0.8rem;
    color: var(--cinza-texto-dois);
}
.footer-bottom a{
    text-decoration: none;
    color: #011466;
}